---
import { Rocket } from "lucide-astro";
import GenericLayout from "../layouts/GenericLayout.astro";
---

<GenericLayout title="Found the rabbit hole!">
    <main class="h-full flex justify-center items-center text-center">
        <div>
            <img
                src="rabbit-svgrepo.svg"
                class="h-32 w-32 mx-auto"
                alt="Rabbit"
            />
            <h1 class="text-4xl font-bold">
                You have fallen down the rabbit hole.
            </h1>
            <p class="text-2xl italic text-gray-600">
                There's nothing here. If you believe that you have reached this
                page in error, please contact me at
                <a
                    href="mailto:hello@xavieroyj.dev"
                    class="text-purple-500 underline"
                    >hello@xavieroyj.dev
                </a>
            </p>
        </div>
    </main>
</GenericLayout>
