---
import { Rocket } from "lucide-astro";
import GenericLayout from "../layouts/GenericLayout.astro";
---

<GenericLayout title="404 - Found the rabbit hole">
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold">
            Congratulations, you have found the rabbit hole.
        </h1>
        <p class="text-2xl italic text-gray-600">
            There's nothing here. If you believe that you have reached this page
            in error, please contact me at
            <a href="mailto:xavier@shiftbus.com" class="text-purple-500"
                >hello@xavieroyj.dev
            </a>
        </p>
    </div>
</GenericLayout>
