---
import GenericLayout from "../layouts/GenericLayout.astro";
import { convertDateFormat } from "../lib/helper";
import { getCollection, type CollectionEntry } from "astro:content";
import { Icon } from 'astro-icon/components';

const blogEntries = await getCollection("blogs", ({ data }: CollectionEntry<'blogs'>) => {
    return data.draft !== true;
});
---

<GenericLayout title="Blog">
    <main class="container mx-auto px-4 max-w-3xl py-8 md:py-3">
        <header class="mb-8">
            <h1 class="text-4xl font-bold mb-4">Welcome to my humble abode</h1>
            <p class="text-md dark:text-gray-400">
                Here is where i write about my ramblings, it contains what i've
                learnt so far. It can range from technologies to lifestyle.
            </p>
            <a href={new URL("rss.xml", Astro.site)}>
                <div class="flex items-center space-x-2">
                    <span class="text-sm text-gray-500"
                        >This blog is also available in RSS</span
                    >
                    <button
                        class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
                    >
                        <Icon name="rss" />
                        Subscribe
                    </button>
                </div>
            </a>
        </header>

        <ul class="space-y-8">
            {
                blogEntries.map((post) => {
                    return (
                        <section>
                            <div>
                                <h2 class="text-2xl font-semibold underline dark:text-white">
                                    <a href={`/blogs/${post.slug}/`}>
                                        {post.data.title}
                                    </a>
                                </h2>
                                <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
                                    {convertDateFormat(post.data.pubDate)}
                                </p>
                            </div>
                            <p class="dark:text-gray-300">{post.data.description}</p>
                        </section>
                    );
                })
            }
        </ul>
    </main>
</GenericLayout>
