---
import GenericLayout from "../layouts/GenericLayout.astro";
import AnimatedCard from "../react/AnimatedCard.tsx";
import AnimatedHeader from "../react/AnimatedHeader";
---

<GenericLayout title="Home">
    <main
        class="h-full flex justify-center items-center container mx-auto px-4 overflow-hidden"
    >
        <div class="w-full sm:w-4/5 md:w-3/4 lg:w-3/5">
            <AnimatedHeader client:load />

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4 pt-4">
                <a href="/about#projects" class="h-full">
                    <AnimatedCard
                        client:load
                        title="Projects"
                        description="See the list of projects that I have done."
                        direction="left"
                    />
                </a>

                <a href="/blog" class="h-full">
                    <AnimatedCard
                        client:load
                        title="Blog"
                        description="Insights about things i learned everyday."
                        direction="top"
                    />
                </a>

                <a href="/contact" class="h-full">
                    <AnimatedCard
                        client:load
                        title="Contact Me"
                        description="Drop me a text here if you have any potential collaboration to work on."
                        direction="bottom"
                    />
                </a>

                <a href="/about" class="h-full">
                    <AnimatedCard
                        client:load
                        title="About Me"
                        description="View my resume and accolades that I have achieved."
                        direction="right"
                    />
                </a>
            </div>
        </div>
    </main>
</GenericLayout>
