---
import GenericLayout from "../layouts/GenericLayout.astro";
import AnimatedCard from "../react/AnimatedCard.tsx";
import AnimatedHeader from "../react/AnimatedHeader";
---

<GenericLayout title="Home">
    <main
        class="h-full flex justify-center items-center container mx-auto px-4"
    >
        <div class="md:w-3/5">
            <AnimatedHeader client:load/>

            <div class="grid grid-cols-2 gap-4 pt-4">
                <a href="/about#projects">
                    <AnimatedCard
                        client:load
                        title="Projects"
                        description="See the list of projects that I have done."
                        direction="left"
                    />
                </a>

                <a href="/blog">
                    <AnimatedCard
                        client:load
                        title="Blog"
                        description="Insights about things i learned everyday."
                        direction="top"
                    />
                </a>
                
                <a href="/contact">
                    <AnimatedCard
                        client:load
                        title="Contact Me"
                        description="Drop me a text here if you have any potential collaboration to work on."
                        direction="bottom"
                    />
                </a>
                
                <a href="/about">
                    <AnimatedCard
                        client:load
                        title="About Me"
                        description="View my resume and accolades that I have achieved."
                        direction="right"
                    />
                </a>
            </div>
        </div>
    </main>
</GenericLayout>
