---
import { Moon, Sun } from "lucide-astro";
---

<button
    type="button"
    class="group flex items-center gap-2 px-3 py-1.5 rounded-lg border border-gray-200 dark:border-gray-700 hover:border-purple-500 dark:hover:border-purple-500 transition-all"
    id="theme-selector"
    aria-label="Toggle theme"
>
    <Sun size="18" class="hidden dark:inline stroke-2 transition-colors" />
    <Moon size="18" class="dark:hidden stroke-2 transition-colors" />
    <span class="text-sm dark:hidden">Light</span>
    <span class="hidden dark:inline text-sm">Dark</span>
</button>

<script>
    const themeToggleButton = document.getElementById("theme-selector");
    const html = document.documentElement;

    function setTheme(isDark: boolean) {
        if (isDark) {
            html.classList.add("dark");
            localStorage.theme = "dark";
        } else {
            html.classList.remove("dark");
            localStorage.theme = "light";
        }
    }

    setTheme(
        localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches),
    );

    themeToggleButton?.addEventListener("click", () => {
        setTheme(!html.classList.contains("dark"));
    });
</script>
