---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description?: string;
	ogImage?: string;
}

const { title, description = "Xavier's Portfolio", ogImage } = Astro.props;
---

<html lang="en" class="dark">
	<head>
		<title>Xavier's Portfolio - {title}</title>
		<BaseHead
			title={`Xavier's Portfolio - ${title}`}
			description={description}
			ogImage={ogImage}
		/>
		<script is:inline>
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>

	<body class="dark:bg-black dark:text-white bg-white text-black">
		<div class="flex flex-col h-screen">
			<Header />

			<main class="grow">
				<slot />
			</main>
		</div>
	</body>

	<!-- Remove margin and padding on print -->
	<style>
		@media print {
		   @page {
			  margin: 0;
		   }
		   body {
			margin: 2rem;
			 zoom: 58%;
            -webkit-transform: scale(0.58);
		   }
		}
	</style>
</html>
